body {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-color: #1B2733;
}

#ahmctlogo {
	margin-left: 250px;
	margin-top: 100px;
}

#ucdlogo {
	margin-left: 425px;
}

#formInfo {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #A9A9A9;
	opacity: 0.8;
	color: #FFF;
	border-top: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#formFooter {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #A9A9A9;
	opacity: 0.8;
	color: #FFF;
	border-bottom: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#content {
	width: 1000px;
	/*max-height: 600px;*/
	margin-left: 250px;
	padding-top: 20px;
}

#formDescription {
	padding-bottom: 10px;
}

.mainContent {
	background-color: #D3D3D3;
	opacity: 0.8;
	padding: 20px;
}

#submitButton {
	height: 30px;
	padding-top: 5px;
}

#footer {
	margin-top: 15px;
	margin-left: 250px;
	font-size: 10px;
	color: #A9A9A9;
}

#footerdescription {
	margin-top: 5px;
	float: right;
	width: 940px;
}

#formFolderDescription {
	margin-top: 25px;
	margin-bottom: 10px;
	width: 940px;
}

#map {
	display: none;
	height: 550px;
	width: 100%;
	margin-top: 10px;
}

#locationDiv {
	margin-left: 250px;
}

#locationButton {
	margin-left: 470px;
	margin-top: -35px;
}

#updateButton {
	display: none;
	margin-left: 190px;
	margin-top: 20px;
}

#statusDiv {
	width : 100%;
	background-color: #7B68EE;
	color: #FFFFFF;
	padding: 10px;
	border: 1px solid;
	display: none;
	margin-bottom: 5px;
}
.location {
	margin-top: 10px;
	width: 450px;
}

.deleteButton {
	width: 100%;
	height: 30px;
}

table, th, td {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
}

ul#collisionDataMenu li {
	display: inline;
	list-style-type: none;
}

#collisionData {
	width: 250px;
}